extends layout 
 
block content 

    br
    a(href="/") Return Home
    br

    p=description

    div(class="categories-nav")
        h1=title

        div(class="/category-crud-btns")
            a(href= "/product/" + id + "/add" class="btn-wrapper")
                img(src="/images/add.png"  alt="update" class="img-btn")
                span(class="tooltiptext") Add a new product.
            
            a(href="/categories/edit_category" class="btn-wrapper")
                img(src="/images/update.png"  alt="update" class="img-btn")
                span(class="tooltiptext") Edit this category.

            a(href="/categories/delete_category" class="btn-wrapper")
                img(src="/images/delete.png"  alt="delete" class="img-btn")
                span(class="tooltiptext") Delete this category.


    table(class="products-table" style='width:80%')
        tr(class="products-table-fields")

            th Product Name
            th Product Stock 
            th Unit Price (USD)
            th Product Link
        
        each product in products

            tr
                td=product.name
                td=product.inventory
                td="$" + product.price 

                td 
                    a(href= product.url) View Product
