extends layout 
 
block content 

    div.return-link-wrapper
        a(href="/" class="return-link") Return Home
        a(href=return_url class="return-link") Return to #{category_name} Page.

    h1 Delete Category: #{category_name}.

    if (category_products.length > 0)

        h2 Press the delete button below to delete the #{category_name} Category and all associated products.
        
        table(class="products-table" style='width:80%')
                tr(class="products-table-fields")

                    th Product Name
                    th Product Link
                
                each product in category_products

                    tr
                        td=product.name

                        td 
                            a(href= product.url) View Product

    else 
        p This category contains no products. Click the button below to delete it.

    br 
    br
    br

    form(action="", method="post") 
        button(type="submit" class="submit-btn") Delete Category