extends layout 
 
block content 

    a(href="/") Return Home
    a(href="/product/" + form_information._id ) Return to product page.

    h1=title

    form(method='POST' action='')
        div.form-group
            label(for='name') Product Name:
                input#name.form-control(type='text', name='name' value=form_information.name)
            
        div.form-group
            label(for='description') Product Description: 
                input#description.form-control(type='textarea', name='description' value=form_information.description)

        div.form-group
            label(for='price') Product Price: 
                input#price.form-control(type='number', name='price' value=form_information.price)

        div.form-group
            label(for='count') Product Count: 
                input#count.form-control(type='number', name='inventory' value=form_information.inventory)
            
        div.form-group
            button.btn.btn-primary(type='submit') Submit
